include head

doctype html
html
  head
    title movieeeeeees
    link(rel="stylesheet",type="text/css",href="/stylesheets/movies.css")
    script(type="text/javascript",src="javascripts/movies.js")
  body
    each movies, category in categories 
      .category
        h1(onclick=`toggleCollapse(this)`).collapsed= category
        each movie in movies 
          .movie.hidden
            .inner
              .header
                img(src=movieInfo[movie]["poster"])
                h2= movie + ` (${movieInfo[movie]["date"]}) (${movieInfo[movie]["runtime"]}min)`
              if "genres" in movieInfo[movie]
                p= movieInfo[movie]["genres"].join(", ")
              p= movieInfo[movie]["synopsis"]
              p= methods[movie]