include head

doctype html
html
	head
		title Oscar Predictions 2021
		+angular
		link(rel="stylesheet",type="text/css",href="/stylesheets/oscar-predictions.css")
		script.
			var categories = !{JSON.stringify(categories)};
			var movieInfo = !{JSON.stringify(movieInfo)};
		script(type="text/javascript",src="javascripts/oscar-predictions.js")
	body(ng-app="oscarPredictions", ng-controller="oscarPredictionsController")
		nav 
			ul
				each movies, category in categories 
					li(ng-click=`setCategory("${category}")`,ng-class=`{selected: currentCategory == "${category}", finished: categoryHasBothSelected("${category}")}`)= category == "Best Picture" ? category : `Best ${category}`
		.main
			h3 Who do you predict will win?
			ul
				li(ng-repeat="movie in categories[currentCategory]")
					img(src="{{movieInfo[movie.Name].poster}}", ng-click="setOrToggleResponse(currentCategory, movie, false)", ng-class="movieIsSelected(currentCategory, movie, false) ? 'selected' : ''")
					p {{movie.Nominee}}
					p(ng-repeat="predictor in getResponders(currentCategory, movie, false)") {{predictor}}
			h3 Who do you want to win?
			ul
				li(ng-repeat="movie in categories[currentCategory]")
					img(src="{{movieInfo[movie.Name].poster}}", ng-click="setOrToggleResponse(currentCategory, movie, true)", ng-class="movieIsSelected(currentCategory, movie, true) ? 'selected' : ''")
					p {{movie.Nominee}}
					p(ng-repeat="wanter in getResponders(currentCategory, movie, true)") {{wanter}}
		.footer
			form
				div
					span Who are you?
					input(type="text",ng-model="submitter")
				input(type="button",ng-click="submit()", value="Submit")
		