include head

doctype html
html
	head
		title Oscar Predictions 2021
		+angular
		link(rel="stylesheet",type="text/css",href="/stylesheets/oscar-predictions.css")
		script(type="text/javascript",src="javascripts/oscar-predictions.js")
	body(ng-app="oscarPredictions", ng-controller="oscarPredictionsController")
		.categories
			each movies, category in categories 
				.category
					table
						thead
							th(colspan="2")= category == "Best Picture" ? category : `Best ${category}`
						thead
							th Predict 
							th Want to win
						each movie in movies 
							tr
								td
									label
										input(type="radio",ng-model=`responses.${category.replace(/\W/g,"")}.predict`,value=movie.Name)
										img(src=movieInfo[movie.Name].poster)
								td
									label 
										input(type="radio",ng-model=`responses.${category.replace(/\W/g,"")}.want`,value=movie.Name)
										img(src=movieInfo[movie.Name].poster)
							tr
								td(colspan="2")= movie.Nominee
		input(type="button",ng-click="submit()", value="Submit")
		