include head

mixin shop_item(num)
	.shopchild
		.shopitem(alt=`{{shops[current_shop][current_shop + ' Item ${num}'].item}}`,title=`{{shops[current_shop][current_shop + ' Item ${num}'].item}}`,ng-click=`checkLocation(current_shop + ' Item ${num}')`,style=`background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item ${num}') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item ${num}'].item)}}');`) 
		.shopprice(ng-click=`checkLocation(current_shop + ' Item ${num}')`, id=`{{current_shop + ' Item ${num}'}}`) {{shops[current_shop][current_shop + ' Item #{num}'].price}}
		.shopplayer(ng-if=`shops[current_shop][current_shop + ' Item ${num}'].player`,ng-click=`checkLocation(current_shop + ' Item ${num}')`, alt=`{{shops[current_shop][current_shop + ' Item ${num}'].player}}`, title=`{{shops[current_shop][current_shop + ' Item ${num}'].player}}`, id=`{{current_shop + ' Item ${num}'}}`) teteteet sdfsfsf {{shops[current_shop][current_shop + ' Item #{num}'].player}}

doctype html
html
	head
		+meta(meta)
		+ga
		title ZOoTR Sim
		link(rel="stylesheet",type="text/css",href="stylesheets/zootr-sim.css")
		link(rel="shortcut icon",href="favicon/zootr-sim/favicon.ico", type="image/x-icon")
		link(rel="icon",href="favicon/zootr-sim/favicon.ico", type="image/x-icon")
		
	body(ng-app="zootrSim",ng-controller="simController",class="{{darkModeOn ? 'dark-mode' : ''}}")
		.headerbar.noselect
			.title 
				img(src="images/zootr-sim/ocarina.png",width="50px",height="50px",draggable="false")
				span ZOoTR Sim
			.hash
				span.hash-label(ng-if="fsHash.length > 0") HASH
				.hash-item(ng-repeat="x in fsHash track by $index",id="{{x}}",style="background-image: url('images/zootr-sim/{{hashImages[x]}}')")
			span.credit made by scatter
		a(href="",ng-click="toggleDarkMode()")#dark-mode-toggle {{darkModeOn ? 'Light' : 'Dark'}} Mode
		.mainbody
			.startcontainer(ng-show="!playing && !current_mw_lobby")
				h1.navihey Hey!
				p The sim has just received a massive update. Read about it #[a(href="/zootr-sim/changelog") here].
				.praise PRAISE FOR ZOOTR SIM
				br
				.quotecontainer
					figure.quote
						blockquote.curly-quotes only reason i made it to grands
						figcaption.quote-by - Whatthehellshappened
				.logiccheck
					label Enforce Logic
						input(type="checkbox", ng-model="use_logic")#logiccheckbox
						span.slider
				br
				.logiccheckfooter
					p {{use_logic ? "You will not be able to access locations you don't have the items for. Your run will be added to the leaderboards." : "You will be able to access every location in the game at the start. Your run will NOT be added to the leaderboards."}}
				.start
					.startleft
						span.header Generate a seed
						br
						span.subheader 
							| Generate on the fly using 
							a(href="https://ootrandomizer.com") ootrandomizer.com
						br
						div.generateform
							form(ng-submit="fetchSeed()")
								div Seed
								br
								input(type="text",ng-model="form_seed",placeholder="leave blank for random")
								br
								div Settings
								br
								input(type="text",ng-model="settingsString",placeholder="Settings String",required)
								br
								select(placeholder="test",ng-model="settingsPreset",ng-change="presetSelected()",ng-options="k for (k,v) in settingsPresets")
								br
								input(type="submit",value="Generate")
						br
						span(ng-if="generating").generating Generating...
						div(ng-if="generationError != null").error {{generationError}}
					.startright
						span.header Upload a log
						br
						span.subheader Upload a preexisting v5.2 spoiler log
						br
						br
						input(type="file",id="files",custom-on-change="fileSelected",ng-model="file")
						br
						span(ng-if="uploading").uploading Uploading...
						div(ng-if="uploadError != null").error {{uploadError}}
				br
				| {{spoiler}}
				h2 Multiworld Games
				table.nicetable#mwgames
					thead
						th Name
						th Players
						th Age
					tbody
						tr(ng-repeat="game in mwgames",ng-click="load_lobby(game.id)")
							td {{game.name}}
							td {{game.current_players}}/{{game.total_players}}
							td {{game.age}}
				br
				.error(ng-if="lobbies_error") {{lobbies_error}}
				br
				.loadfromid
					p Load from Playthrough ID
					form(ng-submit="resumeFromId(loadFormId)")
						input(type="text",ng-model="loadFormId",placeholder="Playthrough ID",required)
						input(type="submit",value="Load")
						span(ng-if="loading").loading Loading...
						div(ng-if="loadError != null").error {{loadError}}
			.multiworldcontainer(ng-show="current_mw_lobby && !playing")
				h1 Multiworld Lobby ({{players.length}}/{{current_mw_game.total_players}} Players)
				a.button(ng-if="!playthroughId", ng-click="unload_lobby()") < Back
				a.button.red(ng-if="playthroughId",ng-click="leave_lobby(current_mw_lobby, playthroughId)") Leave
				br
				br
				table#mwparty.nicetable
					thead
						th Name
						th ID
						th Ready?
					tr(ng-repeat="player in players")
						td {{player.name}}
						td {{player.num}}
						td(ng-if="player._id == playthroughId") 
							a.button(ng-click="player.ready ? unready(player._id) : ready_up(player._id)",ng-class="player.ready ? 'red' : 'blue'") {{player.ready ? "Unready" : "Ready"}}
						td(ng-if="player._id != playthroughId") {{player.ready ? "✔️" : "❌"}}
					tr(ng-if="!playthroughId")
						td
							input(type="text",placeholder="Name",ng-model="lobby_name",maxlength=20)
						td
							a.button(ng-click="join_lobby(current_mw_lobby, lobby_name)") Join
				br
				.error(ng-if="lobby_error") {{lobby_error}}
			span(ng-if="playing && !finished")
				span {{(now - start_time) | formatDuration}}
				br
				.headline {{headline}}
				br
				.main.tracker
					.trackerinner
						.items
							.item(ng-repeat="x in itemgrid track by $index",ng-if="x != 'break'",id="{{x}}")
								div(class="{{lightUpTracker(x) ? '' : 'disable'}}",style="background-image: url('images/zootr-sim/{{getImage(x)}}')")
								.noselect.songcheckmark(ng-if="show_song_check(x)") ✔️
						.dungeons
							div(ng-repeat="dungeon in dungeongrid",id="{{dungeon | removeSpaces}}").dungeon
								div(style="background-image:url('images/zootr-sim/{{nameToImageTitle[dungeon]}}')").dungeontitle
								div(style="background-image: url('images/zootr-sim/{{getMedallionImage(dungeon)}}')",class="{{current_items.includes(known_medallions[dungeon]) ? '' : 'disable'}}").medallionimage
								div(ng-if="hasKeys(dungeon)",class="{{getCount('Small Key ('+dungeon+')') > 0 ? '' : 'disable'}}",style="background-image: url('images/zootr-sim/{{getCount('Small Key ('+dungeon+')') > 0 ? getCount('Small Key ('+dungeon+')') : 'small_key'}}.png')").smallkeyimage
								div(ng-if="hasBossKey(dungeon)",class="{{getCount('Boss Key ('+dungeon+')') > 0 ? '' : 'disable'}}",style="background-image: url('images/zootr-sim/boss_key.png')").bosskeyimage
					br
					span(ng-repeat-start="item in recent_items track by $index") {{item}}
					br(ng-repeat-end)
					br
					span(ng-if="bombchu_count > 0") Bombchus: {{bombchu_count > 1000 ? "∞" : bombchu_count}}
					br
					br
					a(ng-if="current_items.includes('Farores Wind') && current_items.includes('Magic Meter') && ((current_age == 'child' && child_wind == '') || (current_age == 'adult' && adult_wind == ''))", ng-click="setWind()")#faroreswind Set Wind
					a(ng-if="current_items.includes('Farores Wind') && current_items.includes('Magic Meter') && ((current_age == 'child' && child_wind != '') || (current_age == 'adult' && adult_wind != ''))", ng-click="recallWind()")#faroreswind Recall Wind ({{current_age == 'child' ? child_wind : adult_wind}})
					.error(ng-if="wind_error") {{wind_error}}
				.main.current
					.currentinner
						p Current Region: {{current_region}} [{{current_age}}]
						img(ng-repeat-start="loc in available_locations", ng-if="(loc.includes('Freestanding') || loc == 'Underwater Bottle' || loc == 'Lake Hylia Sun') && !(known_hints.hasOwnProperty(loc) || checked_locations.includes(loc))", ng-click="peekAt(loc)" src="images/zootr-sim/eye.png", draggable="false", id="{{loc + 'peek'}}").peekicon
						a(ng-if="!checked_locations.includes(loc)",ng-click="checkLocation(loc)",id="{{loc}}").location {{loc}}
							br
						span(ng-repeat-end,ng-if="checked_locations.includes(loc)", class="checked") {{ loc }}
							br
						.error(ng-if="locations_error") {{locations_error}}
						br
						a(ng-repeat="entrance in available_entrances",ng-click="takeEntrance(entrance)",id="{{entrance}}").entrance -> To {{entrance}}
							br
						.error(ng-if="entrances_error") {{entrances_error}}
						p(ng-if="collected_warps.length > 0") WARPS 
						a(ng-repeat="warp in collected_warps",ng-click="takeEntrance(warp)",id="{{warp}}").entrance -> Play {{warp}}
							br
						br
						a(id="Savewarp {{current_age}}",ng-click="takeEntrance('Savewarp ' + current_age)").entrance -> Savewarp to {{current_age == 'child' ? 'Kokiri Forest' : 'Temple of Time'}}
						br
				.main.hints
					span AVAILABLE HINTS
					br
					br
					a(ng-repeat-start="k in available_hints",ng-if="!checked_locations.includes(k)",ng-click="checkHint(k)",id="{{k}}").hint {{k}}
						br
					span(ng-repeat-end,ng-if="checked_locations.includes(k)").hint.checked {{k}}
						br
					br
					table.hint-table
						tr
							th(colspan="2") KNOWN HINTS
						tr(ng-repeat="loc in known_hints | orderHints")
							td.hint-loc {{loc}}
							td.hint-item {{known_hints[loc].join(', ')}}
					br
				.main.shops(ng-if="shops !== undefined && !is_empty(shops)")
					.shopgrid
						+shop_item(8)
						+shop_item(6)
						.shopchild.shopnpc(style="background-image:url('images/zootr-sim/{{shopNPCs[current_shop]}}')") 
						+shop_item(2)
						+shop_item(4)
						+shop_item(7)
						+shop_item(5)
						+shop_item(1)
						+shop_item(3)
						.shopchild.shopspacer
					a(ng-repeat-start="(shop,contents) in shops",ng-click="setShop(shop)") {{shop}}
					br(ng-repeat-end)
				.main.skulls
					.skullsinner
						p Gold Skulltulas [{{getCount('Gold Skulltula Token')}}/100]
						a(ng-repeat-start="skull in available_skulltulas",ng-if="!checked_locations.includes(skull)",ng-click="checkLocation(skull)",id="{{skull}}").location {{skull}}
							br
						span(ng-repeat-end,ng-if="checked_locations.includes(skull)").location.checked {{skull}}
							br
				br
				br
				p.playthroughinfo Seed: {{seed}}
				p.playthroughinfo Settings: {{settings_string}}
				p.playthroughinfo Playthrough ID: {{playthroughId}}
				a.button.red#reset(ng-click="show_modal('throwAwayModal', true)")
					| This seed sucks, throw it away
			span(ng-show="finished")
				h1 Congratulations!
				span Total checks made:
				h1(style="margin-top:0") {{num_checks_made}}/{{total_checks}}
				h5 You checked fewer locations than {{percentiles.checks}}% of players!
				span Playtime:
				h1(style="margin-top:0") {{playtime | formatDuration}}
				h5 You finished faster than {{percentiles.time}}% of players!
				span(ng-if="used_logic") Name this run for the leaderboard!
				br(ng-if="used_logic")
				div.loadfromid(ng-if="used_logic")
					form(ng-submit="submitToLb(lbName)")
						input(type="text",ng-model="lbName",placeholder="Name",maxlength=20,required)
						input(type="submit",value="Submit")
						span(ng-if="submitting").loading Submitting...
						span(ng-if="submitted",style="position:absolute;font-size:2em") ✔️
						div(ng-if="lb_error != null").error {{lb_error}}
				h2 Route
				.routecontainer
					.route.main {{route}}
					.routebuttons
						a(ng-click="copyRoute()").button#copyroute Copy to clipboard
						br 
						br 
						a(ng-click="saveRoute()").button#saveroute Save to .txt 
						span(ng-show="copying")#copied.copied-anim Copied!
				br(ng-if="!finished_mw_players")
				h3(ng-if="finished_mw_players") Players
				table.nicetable(ng-if="finished_mw_players")
					thead
						th Name
						th Finished?
					tbody
						tr(ng-repeat="player in finished_mw_players")
							td {{player.name}}
							td {{player.finished ? "✔️" : "❌"}}
				br(ng-if="finished_mw_players")
				br(ng-if="finished_mw_players")
				span(ng-if="!finished_mw_players") This playthrough will be deleted in 24 hours. Until then, you can go back to check more locations by clicking here:
				span(ng-if="finished_mw_players && everyone_finished") Everyone is now finished! Your playthroughs will be deleted in 24 hours. Until then, you can go back to check more locations by clicking here:
				span(ng-if="finished_mw_players && !everyone_finished") Not everyone is finished! Go back to keep finding items by clicking here:
				br
				a(ng-click="finished = false").button.blue Go back
				br
				br
				p.playthroughinfo Seed: {{seed}}
				p.playthroughinfo Settings: {{settings_string}}
				p.playthroughinfo Playthrough ID: {{playthroughId}}
				a(ng-click="throwAway()").button.red Quit to home screen
			
			
		.footer 
			a(href="..") Back to scatter.live
			|  | 
			a(href="/zootr-sim/leaderboard") Leaderboard
			|  | 
			a(href="https://github.com/scatter-dev/scatter.live/issues/new?title=[zootr-sim]") Report an Issue
			|  | 
			a(href="../zootr-sim-offline.zip",download) Download for Offline Use
			|  
			a(href="https://github.com/FantaTanked/zootr-sim-offline") (v6.0 compatible version by FantaTanked!)
	
		.modal.hidden#throwAwayModal
			.modal-content(ng-if="!is_multiworld")
				p Really throw the seed away?
				p You'll be able to reload it for the next 24 hours by loading the ID:
				p {{playthroughId}}
				a.button.red(ng-click="throwAway()")
					| Get it outta here
			.modal-content(ng-if="is_multiworld")
				p This is a multiworld, your team needs you!
				p Save this ID so you can continue where you left off:
				p {{playthroughId}}
				a.button.red(ng-click="throwAway(false)")
					| Quit to home screen
		.modal.hidden#logicWarningModal
			.modal-content
				h1 Hold up!
				p This seed uses {{logic_rules == "none" ? "no" : logic_rules}} logic, and the sim will enforce logic!
				p In all likelihood, most checks will be unobtainable. Only continue if you know what you're doing!
				a.button.red(ng-click="show_modal('logicWarningModal', false)")
					| Never mind
				a.button.blue(ng-click="show_modal('logicWarningModal', false); initializeFromServer(init_data);")
					| I know what I'm doing
		.modal.hidden#missedItemsModal
			.modal-content
				h2 While you were away
				p(ng-repeat="item in missed_items track by $index") {{item}}
				a.button.blue(ng-click="show_modal('missedItemsModal', false)") OK
		.modal.hidden#lobbyLoadErrorModal
			.modal-content
				p Error loading multiworld game.
				p Please try again and report if this persists.
				a.button.red(ng-click="show_modal('lobbyLoadErrorModal', false)") OK
		+jquery
		+localforage
		+filesaver
		+angular
		
		script(type="text/javascript",src="node_modules/socket")
		script(type="text/javascript",src="javascripts/zootr-sim/logic.js")
		script(type="text/javascript",src="javascripts/zootr-sim/static.js")
		script(type="text/javascript",src="javascripts/zootr-sim/angular.js")
